@code {

    [Parameter] public ProjectsModel? Data { get; set; }

    protected override void OnInitialized()
    {
    }

    private bool _projectOpen;

    private void ToggleProjectOpen()
    {
        _projectOpen = !_projectOpen;
    }

    private void ProjectClosed(bool closed)
    {
        _projectOpen = closed;
    }

}

@if (Data is not null && Data.Visibility != "hidden")
{
    <div class="projects__project">
        @if (Data.Images is not null && Data.Images.Count > 0)
        {
            <div>
                <img alt="@Data.Images[0].Alt" height="270px" src="@Data.Images[0].Src" width="480px">
            </div>
        }

        <p class="projects__project__title">@Data.Name</p>
        <p>@Data.ShortDescription</p>

        @if (Data.Frameworks is not null || Data.Languages is not null)
        {
            <hr>
            <Projects_Project_Stack Frameworks="Data.Frameworks" Languages="Data.Languages"></Projects_Project_Stack>
        }

        <button class="projects__project__button button-secondary" @onclick="ToggleProjectOpen">See more</button>

        <Modal Closed="ProjectClosed" Open="@_projectOpen">
            <div>
                <p class="projects__project__title"> @Data.Name</p>
                <p>@(Data.Description ?? Data.ShortDescription)</p>
                @if (Data.Website is not null)
                {
                    <a href="@Data.Website" target="_blank">Website</a>
                }
                @if (Data.Github is not null)
                {
                    <a href="@Data.Github" target="_blank">GitHub</a>
                }

                <Projects_Project_Stack Frameworks="Data.Frameworks" Languages="Data.Languages"></Projects_Project_Stack>

                @if (Data.Images is not null && Data.Images.Count > 0)
                {
                    <div>
                        @foreach (var image in Data.Images)
                        {
                            <div>
                                <img alt="@image.Alt" height="270px" src="@image.Src" width="480px">
                            </div>
                        }
                    </div>
                }
            </div>
        </Modal>
    </div>
}