@inject NavigationManager NavigationManager

<Router @rendermode="RenderMode.InteractiveAuto" AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Main)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="main"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(Main)">
            <div class="not_found">
                <div class="container">
                    <h1 class="title">404</h1>
                    <p class="heading" role="alert">Sorry, there's nothing at this address.</p>

                    <div class="buttons">
                        <button onclick="@(() => NavigationManager.NavigateTo("/", forceLoad: true))">Go Back</button>
                    </div>
                </div>
            </div>
        </LayoutView>
    </NotFound>
</Router>